/* Mobile-first styles */
body {
    margin: auto;
    font-family: Lato, sans-serif;
    line-height: 1.5;
    font-size: 1rem;
    max-width: 1200px;
}

a {
	cursor: pointer;
	text-decoration: none;
}

.container {
    width: 100%;
    margin: 0 auto;
}


/* Main styles */

main {
    max-width: 100%;
    padding: 16vh 0 8vh 0;
}

main p{
    font-size: 1.125rem;
    line-height: 160%;
    max-width: 100%;
    margin: 0 20px;
    padding-top: 10vw;
}


h1 { 
    font-size: 3rem;
    line-height: 120%;
    max-width: 320px;
    margin: 0 20px 50px 20px;
}

.resume-parent {
    font-style: italic;
    font-size: 1.2rem;
    margin: 5px 20px ;
    text-decoration: underline;
    
}

@media screen and (min-width: 468px){
    /* Mobile view styles go here */
    h1{
        font-size: clamp(3rem, 10vw, 4.5rem); 
        max-width: clamp(320px, 50%, 800px);
    }

}

@media (min-width: 768px) {
    /* Tablet view styles go here */
}

@media (min-width: 1024px) {
    /* Desktop view styles go here */
}

/* Card Styles */

.projects-parent{
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    animation-delay: .8s;
}

h3{
	color: #111111;
    font-family: 'Geist';
	font-weight: 400;
    font-size: 1.125rem;
	line-height: 160%;
    margin: auto;
}

.card {
	width: 100%;
	text-align: center;
	box-sizing: border-box;
    display: inline-block;
    margin-bottom: 40px;
}


figure {
	border-radius: 24px;
	overflow: hidden;
	height: 640px;
	transition: all .8s cubic-bezier(0.2, 0.6, 0.2, 1);
    position: relative; 
}

figure::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .8s cubic-bezier(0.2, 0.6, 0.2, 1);
}
.pink-tint::after {
    background: rgba(255, 105, 180, 0.15); /* Pink color */
}

.silver-tint::after {
    background: rgba(192, 192, 192, 0.1); /* Silver color */
}

.sepia-tint::after {
    background: rgba(255, 215, 0, 0.05); /* Gold color */
}

figure:hover::after {
    opacity: 1;
}

figure:hover {
	transform: scale(.95);
	transition: all .8s cubic-bezier(0.2, 0.6, 0.2, 1);
	cursor: pointer;
}

.card img {
	display: block;
	width: 100%;
	height: 100%;
 	object-fit: cover;
	transition: all .8s cubic-bezier(0.2, 0.6, 0.2, 1);
}

.card:hover img {
	transform: scale(1.1);
	transition: all .8s cubic-bezier(0.2, 0.6, 0.2, 1);
	cursor: pointer;
}
.card-info {
	text-align: center;
	margin-top: 12px;

}

.card-name {
	color: #111111;
    font-family: 'Geist';
	font-weight: 500;
    font-size: 1.125rem;
	line-height: 160%;
	display: block;
	text-decoration: none;
}

.card-description {
	color: #666666;
    font-family: 'Geist';
    font-size: 1rem;
    font-weight: 400;
	display: block;
	text-decoration: none;
}

@media screen and (min-width: 767px) {

    article {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 20px;
        padding-top: 20px;
    }

    .card  {
        width: calc(50% - 30px); /* Adjust as needed */
        text-align: center;
        box-sizing: border-box;
    }
    

    .card:nth-child(odd) {
        margin-top: 20px; /* Adjust as needed */
    }

	.figure img{
	height: 640px;	
	}

	.card-info {
	margin-top: 24px;
	}
	.card-name {
	font-size: 1.375rem;
	}
	.card-description {
        font-size: 1.125rem;
        font-weight: 300;
	}
  }


/* Contact */

.contact-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;

}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #111111;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: auto;
}

.button {
    background-color: #444444;
    transform: scale(1.1);
}

/* # Animation # */

.slide{
    -webkit-animation: slide .6s cubic-bezier(0.2, 0.6, 0.2, 1);
    -moz-animation: slide .6s cubic-bezier(0.2, 0.6, 0.2, 1);
    animation: slide .6s cubic-bezier(0.2, 0.6, 0.2, 1);
    animation-delay: 0s;
    animation-fill-mode: none;
    -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
} 

/*  Delays  */
.delay01 { -webkit-animation-delay: .4s; animation-delay: .4s;}
.delay02 { -webkit-animation-delay: .8s; animation-delay: .8s;}
.delay03 { -webkit-animation-delay: .9s; animation-delay: .9s;}


@-webkit-keyframes slide {
	0% {
    opacity: 0;
    -webkit-transform: translateY(10vh);
  }
	100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }	
}

@keyframes slide {
	0% {
    opacity: 0;
    -webkit-transform: translateY(10vh);
  }
	100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }	
}

